* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  // background-color: slategray;
  transition: 0.8s;
}

.body-night {
  background-color: #2e3237;
  transition: 0.8s;
}

.night-color {
  color: white;
  transition: 0.8s;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  color: $black-text;
  text-decoration: none;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section {
  transition: transform 1s, opacity 1s;
}
