footer {
  height: 800px;
  overflow: hidden;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 1)
  );
  // transition: 2s;
}

.background-footer {
  background: linear-gradient(#2e3237 60%, rgb(145, 145, 145));
  transition: 2s;
}

.container-footer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather {
  font-size: 10rem;
  color: #ededed;
  font-family: "DM Serif Display", serif;
}

.footer-message {
  font-size: 1.5rem;
  font-weight: 300;
  h3 {
    margin-bottom: 50px;
  }
}

.btn-touch {
  cursor: pointer;
  margin: 28px 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 15px 30px;
  span {
    margin-right: 10px;
  }

  transition: 0.8s;
}

.btn-night {
  background-color: white;
  color: black;
  transition: 0.8s;
}

.contacts {
  color: red;
  line-height: 30px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

.link-list li {
  display: inline-block;
  padding-right: 30px;
  a {
    color: $light-grey;
  }
  span {
    padding-right: 10px;
  }
}
.flex-switch {
  display: flex;
  align-items: center;
}

.night-mode {
  color: $light-grey;
  padding-right: 20px;
}

input[type="checkbox"] {
  position: relative;
  height: 20px;
  width: 40px;
  -webkit-appearance: none;
  background: #c6c6c6;
  border-radius: 10px;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.5);
  margin: 30px;
  transition: 0.5s;
}

input:checked[type="checkbox"] {
  background: #1b468f;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 0;
  right: 0;
  background: #fff;
  transform: scale(0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in;
}

input:checked[type="checkbox"]:before {
  right: 20px;
  transform: scale(1.1);
}

.sun-movement {
  width: 800px;
  height: 725px;
  position: absolute;
  bottom: 30px;
  left: 0;
  // background-color: rgb(154, 188, 206);
  z-index: -1;
  transform-origin: bottom left;
}
.sun {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fabf40;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}
.moon-movement {
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: -300px;
  left: 0;
  // background-color: rgb(154, 188, 206);
  z-index: 5;
  transform-origin: top left;
}
.moon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(211, 211, 211);
  box-shadow: 0px 0px 50px rgb(211, 211, 211);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

.sunset {
  transform: rotate(90deg);
  transform-origin: bottom left;
  transition: 2s ease-in;
}

.sunrise {
  transform: rotate(0deg);
  transform-origin: bottom left;
  transition: 3s ease-out;
}

.moonrise {
  transform: rotate(-90deg);
  transform-origin: top left;
  transition: 4s ease-in;
}

.moonset {
  transform: rotate(0deg);
  transform-origin: top left;
  transition: 2s ease-in;
}

@media only screen and (min-width: 992px) {
  //IN PROGRESS//
}

@media only screen and (min-width: 768px) {
  //IN PROGRESS//
}

@media only screen and (max-width: 767px) {
  //IN PROGRESS//
}
