//// HEADER

header {
  margin: 0;
  height: 120px;
  display: flex;
  align-items: center;
  z-index: 5;

  .header-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul {
    display: flex;

    li {
      list-style-type: none;
      padding: 0 0 0 40px;
      display: flex;
      align-items: center;
      color: $white;
      a {
        font-size: 1rem;
        font-weight: 100s;
        text-transform: uppercase;
        color: $white;
      }
    }
  }
  nav {
    z-index: 5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav__social {
  padding: 0 0 0 80px;
}

svg {
  height: 30px;
  width: 30px;
  fill: white;
  padding: 2px;

  &:hover {
    fill: black;
    transition: 0.5s;
  }
}

.sticky-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 30px;
  position: fixed;
  left: 15rem;
  transition: padding-right 2s;
  z-index: 10;

  img {
    width: 40px;
  }

  // padding-right: 30px;
}

.hamburger-hidden {
  display: none;
  transition: 2s;
}

.hamburger-logo {
  // display: none;
  content: "";
  background: $white;
  height: 2px;
  width: 2.5rem;
  z-index: 1;
  position: relative;
  margin-left: 20px;
  transition: 2s;

  &::before {
    content: "";
    background: $white;
    height: 2px;
    width: 2.5rem;
    z-index: 1;
    position: absolute;
    transform: translateY(-350%);
  }

  &::after {
    content: "";
    background: $white;
    height: 2px;
    width: 2.5rem;
    z-index: 1;
    position: absolute;
    transform: translateY(350%);
  }
}
// .header.sticky {
//   position: fixed;
//   background-color: rgba(255, 255, 255, 0.95);
// }
/// FINE HEADER
